body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}
.userInterface{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
button {
    margin: 10px;
}

.sizeContainer{
    display: flex;
    flex-direction:column;
    align-items: center;

    border: 1px solid black;
}

.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid hsl(0, 0%, 0%);
    width: 600px;
    height: 600px;
    margin-top: 50px;
}

.outer {
    flex: 1;
    display: flex;

}

.inner {
    flex: 1 1 0;


}