body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0;
}

button {
    margin: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    border: 1px solid hsl(0, 0%, 0%);
    width: 600px;
    height: 600px;
}

.outer {
    flex: 1;
    display: flex;

}

.inner {
    flex: 1 1 0;


}